TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=sH2k88gojcp3PdAJiGDxof54kjtTXa3g
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=william
DB_PASSWORD=P@ssw0rd
DB_DATABASE=sav
SESSION_DRIVER=cookie
RESEND_API_KEY=re_QmVCEnWJ_4um4pWm26sEodh69DxH8RYDE
